WpfApplication3/Service References/ServiceReference1/ServiceCliente2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFCliente.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFCliente.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cliente_SQL">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANIOMES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APORTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APORTESINIGV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASIGNADOA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BANCO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CALENDARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CARGOACUENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CATEGORIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CELULAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGOASESOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGOPLAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRATO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EFECTIVIDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPRESA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADOCARGOACUENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADOCUOTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADOSECUENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHAEMISION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHAVENCIMIENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHAVENCIMIENTOTARJETA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FORMADEPAGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INICIOVIGENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOTIVO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBREASESOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBREDELPLAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NROCUOTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRODOCUMENTOIDENTIDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRORENOVACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBSERVACIONES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERSONALIZADO_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERSONALIZADO_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERSONALIZADO_3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERSONALIZADO_4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERSONALIZADO_5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECUENCIACONTRATO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIENEPREEXISTENCIAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPOCARGOACUENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPODESCUENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPODOCUMENTOIDENTIDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITULAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRAMO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ULTIMAMODIFICACIONSECUENCIA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente_SQL" nillable="true" type="tns:Cliente_SQL" />
</xs:schema>