WpfApplication3/Service References/ServiceReference1/ServiceCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4889/ServiceCliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4889/ServiceCliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4889/ServiceCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFCliente.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCliente_obtenerCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_obtenerCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_insertarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceCliente_insertarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCliente">
    <wsdl:operation name="obtenerCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCliente/obtenerCliente" message="tns:IServiceCliente_obtenerCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCliente/obtenerClienteResponse" message="tns:IServiceCliente_obtenerCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCliente/insertarCliente" message="tns:IServiceCliente_insertarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCliente/insertarClienteResponse" message="tns:IServiceCliente_insertarCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCliente" type="tns:IServiceCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceCliente/obtenerCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceCliente/insertarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCliente">
    <wsdl:port name="BasicHttpBinding_IServiceCliente" binding="tns:BasicHttpBinding_IServiceCliente">
      <soap:address location="http://localhost:4889/ServiceCliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>